<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎留言</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container title">
        <h1 class="text-center text-primary">Vue2.0+PHP留言墙</h1>
    </div>
    <div class="container" id="app">
        <div class="row submit-comment">
            <textarea name="content" id=""  rows="10" v-model="content"></textarea>
            <div class="submit-comment-action">
                <input type="button" class="btn btn-success" value="提交" @click="add">
                <span class="text-muted">(可按Enter 回复)</span>
            </div>
        </div>
        <div class="comment-list">
            <div class="nomess text-muted" v-show="msgData.length==0"><h5>暂无留言</h5></div>
            <div class="messlist">
                <div class="reply" v-for="(item,index) in msgData" v-cloak>
                    <p class="replyContent">{{item.content}}</p>
                    <p class="operation">
                        <span class="time">{{item.time}}</span>
                        <span class="handle">
                            <a href="javascript:;" class="fa fa-thumbs-o-up" @click="top(item.id,index)">{{item.acc}}</a>
                            <a href="javascript:;" class="text-danger fa fa-thumbs-o-down" @click="down(item.id,index)">{{item.ref}}</a>
                            <a href="javascript:;" class="fa fa-trash" @click="del(item.id,index)"></a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="page">
                <ul class="pagination">
                    <li class="page-item"><a href="" class="page-link">1</a></li>
                    <li class="page-item"><a href="" class="page-link">2</a></li>
                    <li class="page-item"><a href="" class="page-link">3</a></li>
                </ul>
            </div>
        </div>
    </div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script>
    window.onload=function () {
        var URL='weibo.php';
        new Vue({
            el:'#app',
            data:{
                content:'',
                msgData:[]
            },
            methods:{
                add:function () {
                    this.$http({
                        url:URL,
                        data:{//给后台发送的数据
                            act:'add',
                            content:this.content
                        }
                    }).then(function (res) {
                        //console.log(res.data)
                        var json=res.data;
                        console.log(json);
                        //msgData添加数据
                        this.msgData.unshift({
                            content:this.content,
                            time:json.time,
                            acc:0,
                            ref:0,
                            id:json.id
                        });
                        this.content='';
                    });
                },
                getPageData:function (n) {
                    this.$http({
                        url:URL,
                        data:{
                            act:'get',
                            page:n
                        }
                    }).then(function (res) {
                        console.log(res.data);
                        var arr=res.data;
                        for(var i=0;i<arr.length;i++){
                            this.msgData.push({
                                content:arr[i].content,
                                time:arr[i].time,
                                acc:arr[i].acc,
                                ref:arr[i].ref,
                                id:arr[i].id
                            });
                        }
                    });
                },
                top:function (id,index) {
                    this.$http({
                        url:URL,
                        data:{
                            act:'acc',
                            id:id
                        }
                    }).then(function () {
                        this.msgData[index].acc=this.msgData[index].acc+1;
                    });
                },
                down:function (id,index) {
                    this.$http({
                       url:URL,
                        data:{
                           act:'ref',
                           id:id
                        }
                    }).then(function () {
                        this.msgData[index].ref=this.msgData[index].ref+1;
                    });
                },
                del:function (id,index) {
                  this.$http({
                      url:URL,
                      data:{
                          act:'del',
                          id:id
                      }
                  }).then(function () {
                      alert('删除成功');
                      //alert(this.msgData[index].content);
                      this.msgData.splice(index,1);
                  });
                }
            },
            created:function () {
                this.getPageData(1);
            }
        });
    };
</script>
</body>
</html>